body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* mmmmmmmmmmmm 
navbar customize 
mmmmmmmmmmmmmmmmmmm*/
nav {
  height: 8vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s;
  position: fixed;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: all 0.3s;
}

/* bg color-change on nav mmmmmmmmmmmmmmm*/
nav.change {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}
/*mmmmmmmmmmm logo mmmmmmmmmmmmmmmmm*/
.logo span {
  font-size: 25px;
}
.change .logo {
  color: white;
}
/*mmmmmmmmmmmmmmmm list style mmmmmmmmmmm*/
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.change ul li a {
  color: whitesmoke;
}
/*mmmmmmmmmmmmmm links style mmmmmmmmmmmmmmmmm*/
.links {
  display: flex;
  justify-content: space-around;
  width: 35%;
  flex-direction: row;
}

/*mmmmmmmmmmmmmmmmmm burger styling  and burger hiddenmmmmmmmmmmmmmmmmmmm*/
.burger span i {
  font-size: 25px;
  visibility: hidden;
}
.change .burger {
  color: whitesmoke;
}
.burgar span {
  font-size: 25px;
  visibility: hidden;
}
footer section {
  cursor: pointer;
}
hr {
  color: white;
}
/* main body */
.pt {
  padding-top: 5%;
}
@media screen and (max-width: 1024px) {
  .links {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
}

/*mmmmmmmmmmmmmmm media screen for mobile  mmmmmmmmmmmmmmmmm*/
@media screen and (max-width: 768px) {
  .logo {
    letter-spacing: 1px;
  }
  body {
    position: relative;
  }
  nav .change {
    background-color: whitesmoke !important;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    position: absolute;
    position: fixed;
    width: 100%;
  }
  .links {
    position: absolute;
    position: fixed;
    top: 8vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: center;
    height: 92vh;
    width: 100%;
    right: 0px;
    transition: all 0.3s;
    transform: translateX(100%);
  }
  .sign {
    display: none;
  }
  .burger span i {
    font-size: 25px;
    visibility: visible;
  }

  /*mmmmmmmmmmmmmmmm animation for the burger mmmmmmmmmmmmmmmmmm*/
  .picker {
    transform: translateX(0%);
  }
  /* links color */
  a {
    color: whitesmoke;
  }
  /* the whole page */
  .pt {
    padding-top: 15%;
  }
}
/* hero section */
h1 span {
  border: 1px solid orange;
  letter-spacing: 2px;
  color: orange;
}
h1 {
  letter-spacing: 2px;
  word-spacing: 6px;
}

/* mmmmmmmmmmmmmmmmm partners section mmmmmmmmmmmmmmmm  */
.bg-img {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(assets/sch-pics.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-img-1 {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(assets/pro-img.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-img-2 {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
    url(assets/pro-img.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-img-3 {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(assets/sch-pics.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
